@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background-color: #fffef0;
  color: #444;
}
/* Navbar links */
.cozy-link {
  color: #2f2f2f !important;
  font-weight: 600;
  border-radius: 12px;
  padding: 6px 12px;
}

/* Hover effect */
.cozy-link:hover {
  background-color: #fdfdc9;
  color: #2f2f2f !important;
}

/* Dropdown style */
.cozy-dropdown {
  background-color: #fffef0;
  border-radius: 12px;
  border: none;
}

.dropdown-item:hover {
  background-color: #f7f7b3;
}
.cozy-hero {
  background-color: #fdfdc9;
  border-radius: 20px;
}

.cozy-card {
  border: none;
  border-radius: 16px;
  background-color: #ffffff;
  transition: 0.3s;
}

.cozy-card:hover {
  transform: translateY(-5px);
}